 <div class="goods">
   <h5>ジャンル検索</h5>
 </div>
 <div class="goods_genres" style="border: 1px solid black;">
  <% goods_genres.each do |goods_genre| %>
      <p>
       <%= link_to goods_genre.genre_name,items_path(goods_genre_id: goods_genre.id), class: "text-secondary"%>
     </p>
  <% end %>
 </div>