<table>
 <thead>
   <tr>ジャンル検索</tr>
 </thead>
 <tbody>
  <% goods_genres.each do |goods_genre| %>
  <tr>
     <td>
       <%= link_to goods_genre.genre_name,item_path(id: goods_genre.id), class: "text-secondary"%>
     </td>
  </tr>
  <% end %>
 </tbody>
</table>